<table>
  <tr>
    <th>
      <%= @question.title %>
    </th>
  </tr>
  <% @options.each do |option| %>
    <% if option.persisted? %>
      <tr>
        <td>
          <%= "#{option.number}. #{option.title}" %>
        </td>
        <td>
          <%= link_to 'Edit', edit_option_path(option, question_id: @question.id) %>
          |
          <%= link_to 'Delete', option_path(option, question_id: @question.id), data: { method: :delete } %>
        </td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <th>
      Add options
    </th>
  </tr>
  <tr>
    <%= form_for @option do |f| %>
      <%= hidden_field_tag(:question_id, @question.id) %>
        <td>
          <%= f.label :number %>
          <%= f.text_field :number %>
        </td>
        <td>
          <%= f.label :title %>
          <%= f.text_field :title %>
        </td>
        <td>
          <%= f.label :is_answer %>
          <%= f.check_box :is_answer %>
        </td>
        <td>
          <%= f.submit 'Save' %>
        </td>
    <% end %>
  </tr>
</table>